.heroHeader {
    font-family: Italiana;
    font-weight: 400;
    font-size: 100.27px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.heroSubHeader{
    font-family: Italiana;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.heroText{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}